@import "../../assets/style/mixins/typography.scss";
@import "../../assets/style/variables/colors.scss";

.layout {
  header {
    background-color: $primary;
    color: $white;
    @include header-1;
    padding: 0.625rem 1rem 1.625rem 4.5rem;
  }

  .layout--search-bar {
    position: relative;
    top: -1.5rem;
    margin: 0 4.25rem;
  }
}
