@import "../../assets/style/mixins/typography.scss";
@import "../../assets/style/variables/colors.scss";

.table {
  width: 100%;

  thead {
    td {
      @include subtitle-2;
      padding: 1.375rem 1rem 0.625rem;
      color: $black-60;
    }
  }

  td {
    border-bottom: 1px solid $black-12;
  }

  tbody {
    td {
      padding: 1rem;
      @include subtitle-2;
    }
  }
}
